body {
    background-color: #fefefe;;
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.germania-one-regular {
    font-family: "Germania One", serif;
    font-weight: 400;
    font-style: normal;
  }

.container{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.w-100{
    width: 100%;
}

.city-wrapper {
    text-align: left;
    padding: 5px;
    padding-left: 120px;
    margin-bottom: 15px;
    margin-right: 120px;
}

.city-wrapper > p {
color:#02207A
}

.list-h2 {
    color: #02207A;
    font-family: "molto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 60px;
}

li{ 
    font-family: "Figtree", serif;
    font-size: larger;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10px;
    background-color: #F6FCD0;
}

a{
    color: #a01919;
    text-decoration: none;
}

h1 {
    color: #02207A;
    font-family: "Germania One", serif;
    text-align: center;
    font-size: 76px;
    line-height:90px;
    
}
h2 { 
    color: #02207A;
    font-family: "molto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    line-height: 55px;
}
h3{
    color: #02207A;
    font-family: "molto", serif;
    font-weight: 700;
    font-style: normal;
}


p { 
    color: #02207A;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #F6FCD0;
}

summary {
    color: #02207A;
    font-family: "molto", serif;
    font-weight: 700;
    font-style: normal;
    margin: 15px;
}